* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container {
    padding: 1em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 0.25em 0.25em;
}

.link {
    font-size: 1em;
    text-decoration: none;
    color: darkred;
}

.link:hover {
    color: lightcoral;
    text-decoration: underline;
    text-decoration-color: lightcoral;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.form-container {
    max-width: 400px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem auto;
    padding: 1em;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
}

.form-heading {
    text-align: center;
}

.wrapper {
    padding: 20px;
}

.input-label {
    display: block;
    margin-top: 1rem;
}

.input-text {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    margin: 0.2rem auto;
    padding: 0.5em 10px;
    border: thin solid lightgray;
    transition: ease-in-out, width .35s ease-in-out;
}

.input-text:focus {
    border: none;
}

.btn {
    width: 100px;
    padding: 10px;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.submit-btn {
    background-color: darkcyan;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 10px;
    cursor: pointer;
}

.order-btn {
    background-color: orange;
}

.add-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 10%;
    color: white;
}

table {
    border: solid 1px rgb(233, 233, 233);
    border-collapse: collapse;
}

td,
th {
    padding: 0.35em 0.25em;
    text-align: left;
    color: black;
}

td:nth-of-type(1),
th:nth-of-type(1) {
    text-align: left;
    text-indent: 1em;
}

th {
    background-color: powderblue;
    font-family: sans-serif, Tahoma, 'Segoe UI', Geneva, Verdana;
    font-size: 1.2rem;
}

tr:nth-of-type(even) {
    background-color: silver;
}

tr:nth-of-type(odd) {
    background-color: ghostwhite;
}

.product-title,
.votes {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.error {
    color: red;
}

.product-view {
    margin: 1rem auto;
    padding: 1rem;
}